* {
  box-sizing: border-box;
}
#test{
  display: none;
}
.chat-main {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
  float:right;
  .main-header {
    height: 100px;
    display: flex;
    border-bottom: solid 1px;
    border-bottom-color: rgb(238, 238, 238);
    justify-content: space-between;
    &__left-box {
      align-self: flex-end;
      margin-left: 40px;
    }
      &__left-box__current-group {
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      &__left-box__member-list {
        font-size: 12px;
        color: #999999;
      }
    }
    .main-header__edit-btn {
      align-items: center;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px;
      color: #38aef0;
      align-self: center;
      a {
        color: #38aef0;
        text-decoration: none;
      }
     }
  }
  .messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    .message {
      padding-bottom: 40px;
      &__upper-info {
        display: flex;
        margin-bottom: 10px;
        &__talker {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__text {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #d2d2d2;
      .new-message {
        display: flex;
        .input-box {
          position: relative;
          width: 100%;
          display: flex;
          &__text {
            background-color: white;
            height: 50px;
            width: 100%;
            color: #434a54;
            border-style: none;
            display: flex;
            padding: 0 40px 0 10px;
          }
          &__image {
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            .fa {
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
            }
          }
        }
      }
    }
      .submit-btn {
        background-color: #38aef0;
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        color: white;
        cursor: pointer;
      }
      
.chat-side {
  background-color: #253141;
  width: 300px;
  height:100vh;
  float: left;
  color: #ffffff;
  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      &__user-name {
        display: block;
        margin-inline-start: 1em;
        margin-inline-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
      &__menu {
        display: flex;
      }
      &__new-group {
        margin-left: 5px;
      }
    }
  }
  .link-edit {
    color: #ffffff;
  }
  .link-cog {
    color: #ffffff;
  }
  .groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    .group {
      margin-bottom: 40px;
      color: #ffffff;
      &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__group-latest-message {
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
  }
}